{% let this_version %}
{% if base.build_as_latest %}
{% let this_version = "latest".to_string() %}
{% else %}
{% let this_version = base.doc.version.to_string() %}
{% endif %}

{% let root_path = module_path.root_path() %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title != base.doc.root.name %}
        {{ title }} - {{ base.doc.root.name }}
        {% else %}
        {{ title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ root_path }}-/static/css/themes.css">
    <link rel="stylesheet" href="{{ root_path }}-/static/css/styles.css">
    <link rel="stylesheet" href="{{ root_path }}-/static/css/icons.css">
    <script src="{{ root_path }}-/static/js/theme.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <div class="nav">
        <a class="icon icon-home" style="margin-right: 12px;" href="{{ root_path }}index.html"></a>
        <span style="margin-right: 12px;">{{ base.doc.root.name }}</span>
        <select class="select" id="selectVersion" onchange="changeVersion()" autocomplete="off">
            <option
                value="{% for _ in 0..module_path.level %}../{% endfor %}../../{{ this_version }}/{{ base.doc.root.name }}/index.html">
                {{ this_version }}
            </option>
        </select>
        <button class="toggle-theme is-light-theme icon icon-moon" onclick="toggleTheme()"
            aria-label="Switch to dark mode">
        </button>
        <button class="toggle-theme is-dark-theme icon icon-sun" onclick="toggleTheme()"
            aria-label="Switch to light mode">
        </button>
    </div>
    <div class="content">
        <input type="text" id="search" placeholder="Search" oninput="searchDebounced()" autocomplete="off">

        <div id="innerContent">
            {% if !base.is_source_view %}
            <h2>
                {% for (name, path, kind) in module_path.segments -%}
                {% if !loop.first %}<span>::</span><wbr>{% endif -%}
                <a class="{{ self::module_path_class(kind, loop.last) }}" href="{{ path }}">{{ name }}</a>
                {%- endfor %}
            </h2>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{% for _ in 0..module_path.level %}../{% endfor %}../../common.js"></script>
    <script src="{% for _ in 0..module_path.level %}../{% endfor %}../items.js"></script>

    <script>
        window.DOCS_THIS_PACKAGE = {
            version: "{{ this_version }}",
            name: "{{ base.doc.root.name }}",
            root: "{% for _ in 0..module_path.level %}../{% endfor %}../",
        };
    </script>
    <script src="{{ root_path }}-/static/js/selectVersion.js"></script>
    <script src="{{ root_path }}-/static/js/search.js"></script>
    <script src="{{ root_path }}-/static/js/lineNumbers.js"></script>
</body>

</html>
