{% extends "base.html" %}

{% block content %}
{% for constant in constants %}
{% if !loop.first %}
<br />
{% endif %}
{% if module.source.is_some() %}
<a class="module" href="{{ module_path.source_href(constant.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = constant.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>{{ self::render_attributes(constant.attributes, module_path, module, Some(0))|safe -}}
const {{ constant.name }}
{%- if let Some(ty) = constant.ty %}: {{ self::render_type(ty, module_path, module)|safe }} = {% else %} = {% endif %}
{{- self::render_expression(constant.init, module_path, module)|safe }};</code>
</pre>
{{ self::render_doc_comment(constant.comment.as_ref(), module_path.level)|safe }}
{% endfor %}
{% endblock %}
