{% extends "base.html" %}

{% block content %}
{% for constant in constants %}
{% if module.source.is_some() %}
<a class="module" href="{{ module_path.source_href(constant.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = constant.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>const {{ constant.name }}
{%- if let Some(ty) = constant.ty %}: {{ self::render_type(ty, module_path.level)|safe }} = {% else %} = {% endif %}
{{- self::render_expression(constant.init, module_path.level)|safe }};</code>
</pre>
{% endfor %}
{% endblock %}
