{% extends "base.html" %}

{% block content %}
{% for var in variables %}
{% if module.source.is_some() %}
<a class="module" href="{{ module_path.source_href(var.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = var.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>
    {{- self::render_attributes(var.attributes, module_path.level, Some(0))|safe -}}
    var{{ var.space }} {{ var.name }}{% if let Some(ty) = var.ty %}: {{ self::render_type(ty, module_path.level)|safe }}{% endif %}
    {%- if let Some(init) = var.init %} = {{ self::render_expression(init, module_path.level)|safe }}{% endif -%};</code>
</pre>
{% endfor %}
{% endblock %}
