<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WESL Docs</title>

    <link rel="stylesheet" href="-/static/css/themes.css">
    <link rel="stylesheet" href="-/static/css/styles.css">
    <script src="-/static/js/theme.js"></script>
</head>

<body>
    <div class="nav">
        <span style="margin-right: 12px;">WESL Docs</span>
        <button class="toggle-theme is-light-theme" onclick="toggleTheme()"
            aria-label="Switch to dark mode">&#9790;</button>
        <button class="toggle-theme is-dark-theme" onclick="toggleTheme()"
            aria-label="Switch to light mode">&#127779;</button>
    </div>
    <div class="content">
        <h3 class="item-list-title">Packages</h3>
        <ul class="item-list">
            {% for package in packages %}
            <li>
                <a href="./{{ package }}/latest/{{ package }}/index.html">{{ package }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>
