{% match ty %}
{%- when TypeExpression::Referenced with { name, kind, def_path } -%}
<a class="struct" href="{{ self::def_path_href(name, kind, def_path, module_path_level) }}">
    {{- name -}}
</a>
{%- when TypeExpression::TypeIdentifier with { name, template_args } %}
{{- name }}
{%- if let Some(template_args) = template_args -%}
&lt;
{%- for arg in template_args %}
{%- if !loop.first %}, {% endif %}
{{- self::render_expression(arg, module_path_level)|safe }}
{%- endfor -%}
&gt;
{%- endif %}
{%- endmatch -%}
