{% extends "base.html" %}

{% block content %}
{% for struct_ in structs %}
{% if module.source.is_some() %}
<a class="module" href="{{ module_path.source_href(struct_.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = struct_.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>
    {{- self::render_attributes(struct_.attributes, module_path.level, Some(0))|safe -}}
    struct {{ struct_.name }} {
    {%- for member in struct_.members %}
    {% if let Some(conditional) = member.conditional -%}
        <span class="conditional-code">{{ conditional }}</span>
    {% endif %}
    {{- self::render_attributes(member.attributes, module_path.level, Some(4))|safe }}
    {{- member.name }}: {{ self::render_type(member.ty, module_path.level)|safe }}{% if !loop.last %},{% endif %}
    {%- endfor %}
}</code>
</pre>
{% endfor %}
{% endblock %}
