{% let this_version %}
{% if ctx.build_as_latest %}
{% let this_version = "latest".to_string() %}
{% else %}
{% let this_version = ctx.doc.version.to_string() %}
{% endif %}

{% let root_url = ctx.root_url() %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title != ctx.doc.root.name %}
        {{ title }} - {{ ctx.doc.root.name }}
        {% else %}
        {{ title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ root_url }}-/static/css/inter/inter.css">
    <link rel="stylesheet" href="{{ root_url }}-/static/css/source_code_pro/source_code_pro.css">

    <link rel="stylesheet" href="{{ root_url }}-/static/css/themes.css">
    <link rel="stylesheet" href="{{ root_url }}-/static/css/styles.css">
    <link rel="stylesheet" href="{{ root_url }}-/static/css/icons.css">
    <script src="{{ root_url }}-/static/js/theme.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <div class="nav">
        <a class="icon icon-home" style="margin-right: 12px;" href="{{ root_url }}index.html"></a>
        <span style="margin-right: 12px;">{{ ctx.doc.root.name }}</span>
        <select class="select" id="selectVersion" onchange="changeVersion()" autocomplete="off">
            <option
                value="{% for _ in 0..ctx.level() %}../{% endfor %}../../{{ this_version }}/{{ ctx.doc.root.name }}/index.html">
                {{ this_version }}
            </option>
        </select>
        <button class="toggle-theme is-light-theme icon icon-moon" onclick="toggleTheme()"
            aria-label="Switch to dark mode">
        </button>
        <button class="toggle-theme is-dark-theme icon icon-sun" onclick="toggleTheme()"
            aria-label="Switch to light mode">
        </button>
    </div>
    <div class="content">
        <input type="text" id="search" placeholder="Search" oninput="searchDebounced()" autocomplete="off">

        <div id="innerContent">
            {% if is_source_view is not defined %}
            <h2>
                {% for (name, url, kind) in ctx.segments() -%}
                {% if !loop.first %}<span>::</span><wbr>{% endif -%}
                <a class="{{ self::path_item_class(kind, loop.last) }}" href="{{ url }}">{{ name }}</a>
                {%- endfor %}
            </h2>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{% for _ in 0..ctx.level() %}../{% endfor %}../../common.js"></script>
    <script src="{% for _ in 0..ctx.level() %}../{% endfor %}../items.js"></script>

    <script>
        window.DOCS_THIS_PACKAGE = {
            version: "{{ this_version }}",
            name: "{{ ctx.doc.root.name }}",
            root: "{% for _ in 0..ctx.level() %}../{% endfor %}../",
        };
    </script>
    <script src="{{ root_url }}-/static/js/selectVersion.js"></script>
    <script src="{{ root_url }}-/static/js/search.js"></script>
    <script src="{{ root_url }}-/static/js/lineNumbers.js"></script>
</body>

</html>
