{% extends "base.html" %}

{% block content %}
{% for constant in constants %}
{% if !loop.first %}
<br />
{% endif %}
{% if ctx.module.source.is_some() %}
<a class="module" href="{{ ctx.source_url(constant.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = constant.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>{{ ctx.render_attributes(constant.attributes, Some(0))|safe -}}
const {{ constant.name }}
{%- if let Some(ty) = constant.ty %}: {{ ctx.render_type(ty)|safe }} = {% else %} = {% endif %}
{{- ctx.render_expression(constant.init)|safe }};</code>
</pre>
{{ ctx.render_doc_comment(constant.comment.as_ref())|safe }}
{% endfor %}
{% endblock %}
