{% extends "base.html" %}

{% block content %}
{% for function in functions %}
{% if !loop.first %}
<br />
{% endif %}
{% if ctx.module.source.is_some() %}
<a class="module" href="{{ ctx.source_url(function.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = function.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">

{%- let ws_pre %}
{%- let ws_post %}
{%- if self::show_function_inline(function) %}
{%- let ws_pre = "" %}
{%- let ws_post = "" %}
{%- else %}
{%- let ws_pre = "\n    " %}
{%- let ws_post = "\n" %}
{%- endif -%}

<code>
    {{- ctx.render_attributes(function.attributes, Some(0))|safe -}}
    fn {{ function.name }}(
    {%- for param in function.parameters %}
    {{- ws_pre }}
    {%- if let Some(conditional) = param.conditional -%}
        <span class="conditional-code">{{ conditional }}</span>{{ ws_pre }}
    {%- endif %}
    {{- ctx.render_attributes(param.attributes, Some(4))|safe }}
    {{- param.name }}: {{ ctx.render_type(param.ty)|safe }}
    {%- if !loop.last %}, {% endif %}
    {%- endfor %}
    {{- ws_post -}}
) {% if let Some(ret) = function.ret %}-> {{ ctx.render_attributes(function.return_attributes, None)|safe }}
{{- ctx.render_type(ret)|safe }}{% endif %}</code>
</pre>
{{ ctx.render_doc_comment(function.comment.as_ref())|safe }}
{% endfor %}
{% endblock %}
