{% extends "base.html" %}

{% block content %}
{% for var in variables %}
{% if !loop.first %}
<br />
{% endif %}
{% if ctx.module.source.is_some() %}
<a class="module" href="{{ ctx.source_url(var.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = var.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>
    {{- ctx.render_attributes(var.attributes, Some(0))|safe -}}
    var{{ var.space }} {{ var.name }}{% if let Some(ty) = var.ty %}: {{ ctx.render_type(ty)|safe }}{% endif %}
    {%- if let Some(init) = var.init %} = {{ ctx.render_expression(init)|safe }}{% endif -%};</code>
</pre>
{{ ctx.render_doc_comment(var.comment.as_ref())|safe }}
{% endfor %}
{% endblock %}
