{% extends "base.html" %}

{% block content %}
{% for override_ in overrides %}
{% if !loop.first %}
<br />
{% endif %}
{% if ctx.module.source.is_some() %}
<a class="module" href="{{ ctx.source_url(override_.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = override_.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>
    {{- ctx.render_attributes(override_.attributes, Some(0))|safe -}}
    override {{ override_.name }}{% if let Some(ty) = override_.ty %}: {{ ctx.render_type(ty)|safe }}{% endif %}
    {%- if let Some(init) = override_.init %} = {{ ctx.render_expression(init)|safe }}{% endif -%};</code>
</pre>
{{ ctx.render_doc_comment(override_.comment.as_ref())|safe }}
{% endfor %}
{% endblock %}
