{% match attr %}
{%- when Attribute::Align with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::Binding with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::BlendSrc with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::Builtin with (builtin) -%}
@{{ attr.name() }}({{ self::builtin_str(builtin) }})
{%- when Attribute::Const -%}
@{{ attr.name() }}
{%- when Attribute::Diagnostic with { severity, rule } -%}
@{{ attr.name() }}({{ self::severity_str(severity) }}, {{ rule }})
{%- when Attribute::Group with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::Id with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::Interpolate with { ty, sampling } -%}
@{{ attr.name() }}({{ self::interpolation_str(ty) }}
{%- if let Some(sampling) = sampling %}, {{ self::sampling_str(sampling) }}{% endif %})
{%- when Attribute::Invariant -%}
@{{ attr.name() }}
{%- when Attribute::Location with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::MustUse -%}
@{{ attr.name() }}
{%- when Attribute::Size with (expr) -%}
@{{ attr.name() }}({{ ctx.render_expression(expr)|safe }})
{%- when Attribute::WorkgroupSize with { x, y, z } -%}
@{{ attr.name() }}({{ ctx.render_expression(x)|safe }}
{%- if let Some(y) = y %}, {{ ctx.render_expression(y)|safe }}{% endif %}
{%- if let Some(z) = z %}, {{ ctx.render_expression(z)|safe }}{% endif %})
{%- when Attribute::Vertex -%}
@{{ attr.name() }}
{%- when Attribute::Fragment -%}
@{{ attr.name() }}
{%- when Attribute::Compute -%}
@{{ attr.name() }}
{%- when Attribute::Custom with { name: _, arguments } -%}
@{{ attr.name() }}{% if let Some(arguments) = arguments -%}
({% for arg in arguments %}
{%- if !loop.first %}, {% endif %}{{ ctx.render_expression(arg)|safe }}
{%- endfor %})
{%- endif %}
{%- endmatch -%}
