{% match expr %}
{%- when Expression::Literal with (lit) -%}
{{ lit }}
{%- when Expression::Parenthesized with (inner) -%}
({{ ctx.render_expression(inner)|safe }})
{%- when Expression::TypeOrIdentifier with (type_expr) -%}
{{ ctx.render_type(type_expr)|safe }}
{%- when Expression::NotExpanded with (span) %}
{%- if ctx.module.source.is_some() %}
{%- if let Some(span) = span -%}
<a class="module" href="{{ ctx.source_url(Some(span.clone())) }}">...</a>
{%- else -%}
...
{%- endif %}
{%- else -%}
...
{%- endif %}
{%- endmatch -%}
