{% extends "base.html" %}

{% block content %}
{% for struct_ in structs %}
{% if !loop.first %}
<br />
{% endif %}
{% if ctx.module.source.is_some() %}
<a class="module" href="{{ ctx.source_url(struct_.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = struct_.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>
    {{- ctx.render_attributes(struct_.attributes, Some(0))|safe -}}
    struct {{ struct_.name }} {
    {%- for member in struct_.members %}
    {% if let Some(conditional) = member.conditional -%}
        <span class="conditional-code">{{ conditional }}</span>
    {% endif %}
    {{- ctx.render_attributes(member.attributes, Some(4))|safe }}
    {{- member.name }}: {{ ctx.render_type(member.ty)|safe }}{% if !loop.last %},{% endif %}
    {%- endfor %}
}</code>
</pre>
{{ ctx.render_doc_comment(struct_.comment.as_ref())|safe }}
<h2 class="item-list-title">Fields</h2>
{% for member in struct_.members %}
<div style="margin: 8px 0;"><code>{{ ctx.render_attributes(member.attributes, None)|safe }}
{{- member.name }}: {{ ctx.render_type(member.ty)|safe }}</code></div>
{{ ctx.render_doc_comment(member.comment.as_ref())|safe }}
{% endfor %}
{% endfor %}
{% endblock %}
