{% extends "base.html" %}

{% block content %}
{% for type_alias in type_aliases %}
{% if !loop.first %}
<br />
{% endif %}
{% if module.source.is_some() %}
<a class="module" href="{{ module_path.source_href(type_alias.span.clone()) }}">Source</a>
{% endif %}
{% if let Some(conditional) = type_alias.conditional %}
<div><span class="conditional">{{ conditional }}</span></div>
{% endif %}
<pre class="code-block">
<code>{{ self::render_attributes(type_alias.attributes, module_path, module, Some(0))|safe -}}
alias {{ type_alias.name }} = {{ self::render_type(type_alias.ty, module_path, module)|safe }};</code>
</pre>
{{ self::render_doc_comment(type_alias.comment.as_ref(), module_path.level)|safe }}
{% endfor %}
{% endblock %}
